/* Reutilizamos los mismos estilos del componente de login */
.auth-card {
  width: 100%;
  max-width: 400px;
  border: 2px solid var(--primary);
  padding: 40px 30px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  position: relative;
}

h1 {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus {
  box-shadow: var(--shadow-sm);
}

button {
  width: 100%;
  padding: 12px;
  /* Usamos el color de acento alternativo para diferenciarlo del login */
  background-color: var(--accent-alt);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: var(--shadow-sm);
  transform: translate(-2px, -2px);
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer a {
  color: var(--primary);
  font-weight: bold;
}
